.destil {
    background-color: lime;
    padding: 3px;
    border-radius: 13px;
    margin:-1em 3.2em 1.7em 3.2em;
}

.destil:hover {
    transform: scale(1.08);
    background-color: green;
}

.destil:active {
    background-color: red;
}